/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background-color: darkseagreen; font-size: 13px; color: #666666; font-family: Arial, helvetica, sans-serif;}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000; font-weight: bold; text-transform: uppercase;}
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px;}
aside { font-style: italic; font-size: 0.9em;}
 details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}
	
/* Structure */
#whole {
	width: 96%;	
	max-width: 920px;
	margin: auto;
	padding: 2%;
	} 

	
		
	footer {
    		float: left;
    		clear:left;
    		margin-top: 15px;
    		margin-bottom: 15px;
    		width: 100%;
    		height:auto;
    		border-top: 3px solid #19197C;
    		padding-top:1%;
    		}	

/* Logo H1 */
header h1 {
	height: 20px;
	width: 160px;
	float: left;
	display: block;
	background: url(../images/tulip-header.jpg) 0 0 no-repeat;
	text-indent: -9999px;
	color: #000000;
	}



#goTo {
	display: none;
	}
	#goTo li {
		background: #f7b0b0;
		}
		
/* Banner */			
#topimage {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	}

.wee{
    
}


